# Node / NestJS backend
node_modules
dist
coverage
.nyc_output
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env & local config
.env
.env.*

# Prisma local DB (if any)
prisma/dev.db
prisma/dev.db-journal

# OS / editor
.DS_Store
.idea
.vscode

